@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');


$mainbackground: hsl(233, 47%, 7%) ;
$cardbackground: hsl(244, 38%, 16%) ;
$accent: hsl(277, 64%, 61%) ;
$mainheading: hsl(0, 0%, 100%);
$mainparagraph: hsla(0, 0%, 100%, 0.75) ;
$stateadings: hsla(0, 0%, 100%, 0.6);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    list-style: none;
     // font-family: 'Lexend Deca', sans-serif;
}
body {
    background-color: $mainbackground;
    height: 100vh;
    width: 100vw;
    position: relative;
}
.card-container {
    background-color: $cardbackground;
    width: 70%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: grid;
    grid-template-columns: 50% 50%;
    border-radius: 5px;
}
.left-part {
    padding: 50px;
}
h1 {
    color: $mainheading;
    font-size: 1.7em;
    font-weight: 700;
    text-align: center;
    width: 80%;
}
span {
 color: $accent;
}
#mainP {
    margin-top: 20px;
 font-size: 0.9em;
        color: $stateadings;
        font-weight: 400;
        line-height: 25px;
}
ul {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-top: 60px;
}
h2 {
    color: $mainparagraph;
}
ul li p {
    color: $stateadings;
    text-transform: uppercase;
    font-size: 0.7em;
    font-family: 'Lexend Deca', sans-serif;
    margin-top: 5px;
}




.right-part {
    background: url("../images/image-header-desktop.jpg") center/cover;
    filter: opacity(0.4) drop-shadow(0 0 0 rgb(221, 0, 255));
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
